#header{
    position: fixed;
    background: #000;
    width: 100%;
   top: 0px;
    left: 0px;
    z-index: 100;
  

}

#header .icons,.user{
    margin-top: 24px;
}
#header .logo a img{
    
    width: 76%;
}

#header .user i , .icons i{
    color: white;
  
    font-size: 20px
}
#header .icons a , .user a{
   padding: 19px 13px;
    padding-top: 28px;
}
#header .user .cart:hover{
    background-color: white
}

#header .user .cart:hover i{
    color: black;
}
#header .user .log:hover{
    background-color: white
        
}

#header .user .log:hover i{
    color: black;
}
#header .user .empty{
    display: none;
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 103%;
    /* margin-right: 135px; */
    /* margin-left: -128px; */
    right: 75px;
    top: 63px;
}
#header .user .empty i{
        margin-left: 131px;
    margin-top: 26px;
    color: white;
}
#header .user .empty h1{
    font-size: 20px;
    text-align: center;
    color: black
}
#header .user .cart:hover i .empty{
    display: block;
    color: white;
    transition: 1s;
    
}
.hidesign{
    display: none;
    position: absolute;
    z-index: 10;
    top: 63px;
    right: 175px;
    width: 50%;
    background-color: white;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.hidesign ul li{
    padding: 20px 0px;
    border-bottom: 1px solid black;
    text-align: center
}
#header .user .log:hover .hidesign{
    display: block;
   
}
#headersection{
    margin-top: 65px;
    
}
#headersection .shoplist ul li a{
   text-decoration: none;
    color: black;
    text-transform: uppercase;
}
#headersection .shoplist ul li{
    display: inline-block;
    padding: 0px 13px;
}
#headersection .shoplist{
    margin-left: -40px;
    padding: 23px 0px
}
#headersection .searchbox input[type="submit"] {
    background-color: transparent;
    border: none;
    background-image: url(../image/search.png);
    height: 16px;
    width: 16px;
    position: absolute;
    outline: none;
    left: 254px;
    top: 22px;

}
#headersection .searchbox input[type="text"]{
    width: 100%;
    height: 35px;
    
} 



#headersection .searchbox{
    padding: 13px 0px;
}


#banner .flatoff{
    overflow:hidden;
}
#banner .flatoff img{
    vertical-align: middle;
    max-width: 100%;
    
}

#content .heading{
    text-align: center;
    padding: 30px 0px;
}
#content .sideslide{
    padding: 50px 0px;
   
 
}
#content .sideslide img{
    transform: scale(1.1,1.1);
    height: 278px;
}
#content .sidelist{
     padding: 50px 0px;
    margin-left: -20px;
}
#content .sidelist li{
    padding-bottom: 20px;
}

#content .img1 img{
    width: 94%;
    padding-bottom: 20px;
}
#content .row:nth-child(4){
    padding-left: 70px;
}
#content .row:nth-child(5){
    padding-left: 72px;

}

#content .images .img1 .shadow{
  width: 485px;
    height: 285px;
    
    
}


#content .images .img1{
    background-image: url(../images/img_1.jpg);
    width: 485px;
    height: 285px;
    position: relative;
    background-size: 100% 100%;
margin-bottom: 20px;
}


#content   .shadow h3{
   position: absolute;
    z-index: -100;
   left: 35%;
    top: 35%;
    font-size: 44px;
    transition: 2s;
   
    
    
}
#content   .shadow:hover h3{
   z-index: 10;
 
    transition: 2s;
}

#content .images .img2{
    background-image: url(../images/img-1.jpg);
    width: 485px;
    height: 386px;
    position: relative;
    background-size: 100% 100%;
   
    
}
#content .images .img2 .shadow{
  width: 485px;
    height: 386px;
    
    
}
 #content .shadow:before{
            content: "";
            background-color: rgba(0,0,0,0.5);
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            display: none;
        }
        #content  .shadow:hover{
            display: inline-block;
            background-color: rgba(0,0,0,0.9);
           transition: 1s;
            
           
        }
#content .images2 .img1{
     background-image: url(../images/img_4.jpg);
    width: 485px;
    height: 386px;
    position: relative;
    background-size: 100% 100%;
    margin-top: 20px;
}
#content .images2 .img1 .shadow{
  width: 485px;
    height: 386px;
    
    
}
#content .images2 .img2{
     background-image: url(../images/img_3.jpg);
    width: 485px;
    height: 265px;
    position: relative;
    background-size: 100% 100%;
}
#content .images2 .img2 .shadow{
  width: 485px;
    height: 265px;
}
#content .images2{
    margin-top: -20px;
}

#content .images2 .img2{
    margin-top: 20px
}

